name: 'build-latest' 
on: # rebuild when devcontainer is updated
  push:
    paths:
      - '.devcontainer/**'
    branches:
      - main
  workflow_dispatch:

jobs:
          
   build-latest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:        
        # platform: [linux/amd64,linux/arm64]
        # min Ghidra java version
        java-ver: [21]
        # pyhidra min Ghidra version 10.1.1
        ghidra-ver: ['11.4.3']
        python-ver: ['3.13']
        debian-name: [bookworm]
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Set up QEMU for multi-architecture builds
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker buildx for multi-architecture builds
        uses: docker/setup-buildx-action@v2
        with:
          use: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build latest devcontainer Multi-Platform
        uses: devcontainers/ci@v0.3
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: true # added to fix https://github.com/containers/skopeo/issues/1874
          GHIDRA-BUILD-VER: ${{matrix.ghidra-ver}}
          JAVA-BUILD-VER: ${{matrix.java-ver}}
          VARIANT: ${{matrix.python-ver}}-${{matrix.debian-name}}
        with:
          imageName: ghcr.io/${{ github.repository }}
          cacheFrom: ghcr.io/${{ github.repository }}
          noCache: true
          # platform: ${{matrix.platform}}
          platform: linux/amd64,linux/arm64
          push: always
          imageTag: latest        
