name: 'build-and-push-slim-devcontainer-all-vers' 
on: # rebuild when devcontainer is updated
  push:
    paths:
      - '.devcontainer/**'
    branches:
      - main
  workflow_dispatch:  

jobs:
   build-slim-all-vers:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:        
        # platform: [linux/amd64,linux/arm64]
        # min Ghidra java version
        java-ver: [21]
        # pyhidra min Ghidra version 10.1.1
        #ghidra-ver: ['11.4','11.3.2', '11.2.1', '11.1.2', '10.4', '10.3.3', '10.2.3', '10.1.5']
        #ghidra-ver: ['12.0', '11.4.3', '11.3.2', '11.2.1', '11.1.2', '10.4']
        ghidra-ver: ['12.0.1', '11.4.3', '11.3.2']
        python-ver: ['3.13', '3.12', '3.11', '3.10']
        debian-name: [bookworm]
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Set up QEMU for multi-architecture builds
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker buildx for multi-architecture builds
        uses: docker/setup-buildx-action@v2
        with:
          use: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build all slim devcontainers Multi-Platform
        uses: devcontainers/ci@v0.3
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: true # added to fix https://github.com/containers/skopeo/issues/1874
          GHIDRA-BUILD-VER: ${{matrix.ghidra-ver}}
          JAVA-BUILD-VER: ${{matrix.java-ver}}
          VARIANT: ${{matrix.python-ver}}-slim-${{matrix.debian-name}}
        with:
          configFile: .devcontainer/devcontainer-slim.json
          imageName: ghcr.io/${{ github.repository }}
          platform: linux/amd64,linux/arm64
          push: always
          imageTag: ${{matrix.ghidra-ver}}ghidra${{matrix.python-ver}}python-${{matrix.debian-name}}-slim
